<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MyNewClipboard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <MyNewClipboard.Properties.Settings>
            <setting name="DisplayCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SaveCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SaveArray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowLineNumbers" serializeAs="String">
                <value>False</value>
            </setting>
        </MyNewClipboard.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
